<!doctype html>
<html ng-app>
<head>

  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="static/animation.css">

  <script src="static/angular.js"></script>
  <script src="static/mylocal.js"></script>

  <title>CyOx</title>

</head>
<body>

  <h1 class="center">Cy<img class="spinclock" src="static/media/ring.png">x</h1>

  <form id='plan' action='http://cyox-api.herokuapp.com' method='post' accept-charset='UTF-8'>
    <fieldset>
      <div class="center top-margin-30">
        <label>Start Point:</label>
        <input type="text" ng-model="startpoint" id="start_point" name="start_point" placeholder="Please enter a starting point">
      </div>

      <div class="center top-margin-30">
        <input type="checkbox" id="box" onclick="startpoint()">
      </div>

      <div class="center top-margin-30">
        <label>End Point:</label>
        <span class="nineteen">
          <input type="text" ng-model="endpoint" id="end_point" name="end_point" placeholder="Please enter a ending point">
        </span>
      </div>

      <div class="center top-margin-60">
        <button type='submit' name='Submit'>Calculate Route</button>
      </div>
    </fieldset>
  </form>

  <p>{{startpoint}} {{endpoint}}</p>

  <p class="center bottom">This is an accademic project for Oxford Brookes University by Philip Gardner 10070312. This project is not for profit.</p>

</body>
</html>
